<div>
  <a (click)="cerrarSesion()" href="#">Cerrar sesión</a>
</div>
<h1 style="text-align: center; margin-left: auto; margin-right: auto;">Listado de POSTS</h1>
<table style="text-align: center; margin-left: auto; margin-right: auto;">

  <th>ID</th>
  <th>ID Cuenta</th> 
  <th>Nombre Usuario</th>
  <th>Nombre Imagen</th>
  <th>Imagen Aleatoria</th>
  <tr *ngFor="let dato of listadoPosts">
    <td>{{dato.id}}</td>
    <td>{{dato.accountId}}</td>    
    <td>{{dato.userInfo.name}}</td>
    <td>{{dato.imageName}}</td>
  </tr>

</table>